# ###### GENERAL SETTINGS #######
PROJECT_NAME=task-flow

# ###### SERVER SETTINGS #######
SERVER_PORT=3001
NODE_ENV=development

# ###### DATABASE SETTINGS #######
DATABASE_TYPE=postgresql
DATABASE_HOST=${PROJECT_NAME}-db
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=docker
DATABASE_DB=${PROJECT_NAME}

# A URL do Prisma aponta para localhost para o Windows enxergar o container
DATABASE_URL="${DATABASE_TYPE}://${DATABASE_USER}:${DATABASE_PASSWORD}@localhost:${DATABASE_PORT}/${DATABASE_DB}?schema=public"

# ###### JWT SETTINGS #######
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=